* {
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 26px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
  margin-right: 0;
}